<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beeppp (Bee Solutions)</title>
</head>
<body style="background-color: rgb(71, 87, 95);">

    <div style="text-align: center;">
        <h3>Beeppp - Análise de PPPoEs!</h3>
        <h3>Desenvolvido por: Bee Solutions</h3>
        <h3>Autor: Fernando Almondes</h3>
        <h3>Acesse o <a href="/admin" target="_blank">Beeppp Admin</a> para configurações iniciais!</h3>
    </div>
    
</body>
</html>